*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
}

h4 {
  color: #333;
  padding-bottom: 10px;
}

ul, ol {
  margin: 10px 0;
  padding-left: 20px;
}

ul li, ol li {
  margin: 5px 0;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

form {
  margin-top: 20px;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4c5baf;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}